<?xml version="1.0" encoding="UTF-8"?>
<config>
	<directory>
		<output_dir>
			D:\\tmp2\\sampleVBA
		</output_dir>
	</directory>
    <Objects>
        <ActiveX>
            <Scan>
                <Module>Mal_struc_scanner</Module>  
                <Module>Shellcode_scanner</Module>                                
            </Scan>
        </ActiveX>
        <VBA_Script>
            <Scan>
           		<Module>VBA_scanner</Module>
            	<Module>URL_scanner</Module>
            </Scan>
        </VBA_Script>
        <XML>
            <Scan>
                <Module>URL_scanner</Module>
            </Scan>
        </XML>
        <Action_Script>
            <Scan>                
                <Module>Flash_scanner</Module>
            </Scan>
        </Action_Script>
        <PE>
            <Scan>
            </Scan>
        <PE>
    </Objects>
	<Scanners>
		<Scanner name="Flash_scanner">
			<file status="off">scan_flash.py</file>
		</Scanner>
		<Scanner name="Mal_struc_scanner">
			<file status="off">scan_cve_2013_3906.py</file>
		</Scanner>
		<Scanner name="Shellcode_scanner">
			<file status="off">scan_shell.py</file>
            <file status="off">shellcode_scanner_modify.py</file>
            <file status="off">shellcode_scanner2.py</file>
		</Scanner>
		<Scanner name="VBA_scanner">
			<file status="on">scan_vba.py</file>
		</Scanner>
		<Scanner name="URL_scanner">
			<file status="off">string_scanner.py</file>
            <file status="on">scan_url.py</file>
		</Scanner>
	</Scanners>
</config>

