<?xml version="1.0" encoding="UTF-8"?>
<config>
	<directory>
		<output_dir>
			D:\\tmp2
		</output_dir>
	</directory>
    <Objects>
        <ActiveX>
            <Scan>
                <Module>Shellcode_scanner</Module>
                <Module>URL_scanner</Module>
            </Scan>
        </ActiveX>
        <VBA_Script>
            <Scan>
           		<Module>VBA_scanner</Module>
            	<Module>URL_scanner</Module>
            </Scan>
        </VBA_Script>
        <XML>
            <Scan>
            </Scan>
        </XML>
        <Action_Script>
            <Scan>
            </Scan>
        </Action_Script>
        <PE>
            <Scan>
            </Scan>
        <PE>
    </Objects>
	<Scanners>
		<Scanner name="Flash_scanner">
			<file status="on">scan_flash.py</file>
		</Scanner>
		<Scanner name="Mal_struc_scanner">
			<file status="on">struct_scan.py</file>
		</Scanner>
		<Scanner name="PE_scanner">
			<file status="on">scan_pe.py</file>
		</Scanner>
		<Scanner name="Shellcode_scanner">
			<file status="on">scan_shell.py</file>
		</Scanner>
		<Scanner name="VBA_scanner">
			<file status="on">scan_vba.py</file>
		</Scanner>
		<Scanner name="URL_scanner">
			<file status="on">string_scanner.py</file>
            <file status="off">scan_url.py</file>
		</Scanner>
	</Scanners>
</config>

